In [1]:
import pandas as pd

In [8]:
trekranks = pd.DataFrame(
    {'Rank_Name': ['Fleet Admiral','Admiral','Vice-Admiral',
                   'Rear-Admiral (Upper)','Rear-Admiral (Lower)',
                   'Captain','Commander','Lierutenant-Commander',
                   'Lieutenant','Lieutenant-Junior Grade','Ensign',
                   'Cadet (4th year)','Cadet (3rd year)',
                   'Cadet (2nd year)','Cadet (1st year)'
                  ],
     'Abbrev': ['FAdm','Adm','Vadm','RAdmU','RAdmL',
                'Capt','Cmdr','Lt.Cmdr','Lt','Lt (jg)',
                'Ens','C4','C3','C2','C1'
               ],
     'Grade': ['C-11','C-10','C-09','C-08','C-07',
               'C-06','C-05','C-04','C-03','C-02','C-01',
               'T-04','T-03','T-02','T-01'
              ],
     'Pips': ['[5]','[4]','[3]','[2]','[1]',4,3,'(0)2',
              2,'(0)1',1,"////","///","//","/"
             ]
    },
    columns=['Rank_Name','Abbrev','Grade','Pips']
)

trekranks

                  Rank_Name   Abbrev Grade  Pips
0             Fleet Admiral     FAdm  C-11   [5]
1                   Admiral      Adm  C-10   [4]
2              Vice-Admiral     Vadm  C-09   [3]
3      Rear-Admiral (Upper)    RAdmU  C-08   [2]
4      Rear-Admiral (Lower)    RAdmL  C-07   [1]
5                   Captain     Capt  C-06     4
6                 Commander     Cmdr  C-05     3
7     Lierutenant-Commander  Lt.Cmdr  C-04  (0)2
8                Lieutenant       Lt  C-03     2
9   Lieutenant-Junior Grade  Lt (jg)  C-02  (0)1
10                   Ensign      Ens  C-01     1
11         Cadet (4th year)       C4  T-04  ////
12         Cadet (3rd year)       C3  T-03   ///
13         Cadet (2nd year)       C2  T-02    //
14         Cadet (1st year)       C1  T-01     /

In [9]:
# trekranks = trekranks.to_csv('startrek_ranks.csv', index=False)

In [18]:
trek_holodeck = pd.DataFrame(
    {'Sports': ['Ice Hockey','Baseball','Parrises Squares','Springball',
                'Racquetball','Tennis','Water polo','Basketball',
                'Soccer/Footbsll','Darts','Vollyball'
               ], #11
     'Martial_Arts': ['Gladiatorial combat','Anbo-jitsu','Tsunkatse','Fencing',
                      'Null','Null','Null','Null','Null','Null','Null'
                     ],
     'Games_of_Chance': ['Chula','Dabo','Tongo','Poker','Fizzbin',
                         'Null','Null','Null','Null','Null','Null'
                        ],
     'Strategy_and_Logic': ['Dom-jot','Kadis-kot','Kal-toh','Kotra',
                            'Strategema','_The Game_',
                            'Tri-dimensional chess',
                            'Go (board game)','Terrace (board game)',
                            'Durotta (board game)','Null'
                           ]
    },
    #columns=['Sports','Martial_Arts','Games_of_Chance']
)
trek_holodeck

,Sports,Martial_Arts,Games_of_Chance,Strategy_and_Logic
0,Ice Hockey,Gladiatorial combat,Chula,Dom-jot
1,Baseball,Anbo-jitsu,Dabo,Kadis-kot
2,Parrises Squares,Tsunkatse,Tongo,Kal-toh
3,Springball,Fencing,Poker,Kotra
4,Racquetball,Null,Fizzbin,Strategema
5,Tennis,Null,Null,_The Game_
6,Water polo,Null,Null,Tri-dimensional chess
7,Basketball,Null,Null,Go (board game)
8,Soccer/Footbsll,Null,Null,Terrace (board game)
9,Darts,Null,Null,Durotta (board game)
10,Vollyball,Null,Null,Null

In [19]:
# trek_holodeck = trek_holodeck.to_csv('startrek-holosuite-games.csv', index=False)

https://www.pornhub.com/view_video.php?viewkey=ph5fa8ce54302d6
viewkey=ph5e14d4f3741ff

harsh:
viewkey=ph5bc362a6af11b
viewkey=ph5ee3cf9ae5060
viewkey=ph59762687d4427
viewkey=ph5e5d5ad8ada05
>> newmfx
https://www.pornhub.com/view_video.php?viewkey=ph5cc71a0659837

https://www.pornhub.com/view_video.php?viewkey=ph5e5d5ad8ada05
viewkey=ph5eb231180bfaa
<ebony>
viewkey=ph5d2f7ee87e304
viewkey=ph5b8aafec1b603
viewkey=ph5b8af28abe3eb



'MF-7511-1-1','MF-7835-1-1','MF-7865-1-1_8000','MF-7835-1-1'



**viewkey=ph5dc82f15da952
viewkey=ph5db709f33f431
viewkey=ph5db67ca9a204c

https://www.pornhub.com/view_video.php?viewkey=ph5bb7c43f37963
https://www.pornhub.com/view_video.php?viewkey=ph5ba86b4e63e7b
https://www.pornhub.com/view_video.php?viewkey=ph5bb30347c46c2
https://www.pornhub.com/view_video.php?viewkey=ph56e4441a85856